.text {
  margin: 0;
  line-height: var(--lh-normal);

  /* Sensible defaults: treat new line as actual new line */
  white-space: pre-wrap;
  word-wrap: break-word;
}

.text.pre {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial,
  sans-serif;
  letter-spacing: 0.2em;
  color: var(--text-muted);
  text-transform: uppercase;
}

/* Size variants */
.text--size-1 {
  font-size: var(--fs-1);
}

.text--size-2 {
  font-size: var(--fs-2);
}

.text--size-3 {
  font-size: var(--fs-3);
}

.text--size-4 {
  font-size: var(--fs-4);
}

.text--size-5 {
  font-size: var(--fs-5);
}

.text--size-6 {
  font-size: var(--fs-6);
}

/* Weight variants */
.text--weight-normal {
  font-weight: var(--fw-normal);
}

.text--weight-medium {
  font-weight: var(--fw-medium);
}

.text--weight-semibold {
  font-weight: var(--fw-semibold);
}

.text--weight-bold {
  font-weight: var(--fw-bold);
}

/* Tone variants */
.text--tone-default {
  color: var(--text);
}

.text--tone-muted {
  color: var(--text-muted);
}

.text--tone-inverse {
  color: var(--text-inverse);
}

/* Style variants */
.text--style-sans {
  font-family: var(--font-sans);
}

.text--style-mono {
  font-family: var(--font-mono);
}

/* Wrap variants */
/* TODO: This doesn't work, if I do nowrap it extends beyond the width of the parent component  */
.text--wrap {
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
}